[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "aliyun"

[packages]
selenium = "*"
pandas = "*"
numpy = "==1.19.3"
xlrd = "*"
pyinstaller = "==4.1"
xlsxwriter = "*"
pillow = "*"
pathlib = "*"
pysimplegui = "==4.33.0"
pyyaml = "*"
redis = "*"
openpyxl = "*"
cpca = "*"

[dev-packages]

[requires]
python_version = "3.8"
