[[source]]
url = "http://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "aliyun"

[packages]
selenium = "*"
pandas = "*"
numpy = "==1.19.3"
xlrd = "*"
pyinstaller = "*"
xlsxwriter = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.8"
